html {
  box-sizing: border-box;
}

.body {
  font-family: 'Montserrat', sans-serif;
  background: #eee
}
*, ::after, ::before {
  box-sizing: inherit;
}

.body {
  font-family: 'Montserrat', sans-serif;
  background: #eee
}
